body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgba(20, 26, 44, 0.979);
        }
        header {
            background-color: rgba(64, 71, 92, 0.548);
            color: rgb(0, 0, 0);
            padding: 10px 0;
            text-align: center;
        }
        nav a {
            font-family: Arial, sans-serif;
            margin: 0 18px;
            color: rgb(255, 244, 244);
            text-decoration: none;
            font-size: 20px;
        }
        nav a :hover{
            text-decoration: dashed;
            color: #e22a2a;
        }
        .container{
            align-items: center;
            justify-content: center;
        }
        .box{
            text-decoration: none;
            display: flex;
        }
h1 {
    color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.icon {
    font-size: 40px;
    color: #e74c3c;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

p {
    font-size: 14px;
    color: #777;
}
.contact-section {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.contact-section h1 {
    text-align: center;
    color: rgba(20, 26, 44, 0.979);
    margin-bottom: 20px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
}

.contact-section form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-section form input,
.contact-section form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-section form textarea {
    height: 150px;
    resize: none;
}

.contact-section form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(20, 26, 44, 0.979);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-section form button:hover {
    background-color: rgba(20, 26, 44, 0.979);
}
.first{
    display: flex;
    margin-top: 155px;
    margin-left: 100px;
}
img{
    border-radius: 10px;
}
.main{
    padding: 30px;
    display: flex;
    padding-bottom: 1px;
}
.About{
    margin-top: 80px;
    padding-left: 170px;
}
h1{
font-size: 4rem;
font-weight: 100;
line-height: 1.2;
margin-bottom: 2rem;
}
h1 span{
    color: var(--primary);
}
.govern{
    line-height: 1.9;
    margin-bottom: 2rem;
    font-size: large;
    color: #fff;
}
.minist{
    display: flex;
    gap: 100px;
}